h1 {
	color: blue;
	font-family:calibri;
	font-size:90px;
}

p {
	font-family:calibri;
	font-size:20px;
}

p.bleu{
	background-color:#2980b9;
}

p.blanc{
	background-color:#ecf0f1;
}

p.rouge{
	background-color:#c0392b;
}


img {
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

@media all (max-width:480px;){ 


}

@media all (max-width:767px;){ 


}

@media all (max-width:979px;){ 


}

@media all (max-width:1200px;){ 


}