h1 {
	color: blue;
	font-family:calibri;
	font-size:90px;
}

p {
	font-family:calibri;
	font-size:20px;
}

p.bleu{
	background-color:#2980b9;
}

p.blanc{
	background-color:#ecf0f1;
}

p.rouge{
	background-color:#c0392b;
}

/*@media all (min-width:480px;) and (max-width:1200px;)  { 


}*/