html {font-size:62.5%}



h1 {
	color: blue;
	font-family:calibri;
	font-size:2.5em;
}

p {
	font-family:calibri;
	font-size:1.6em;
}

p.bleu{
	background-color:#2980b9;
}

p.blanc{
	background-color:#ecf0f1;
}

p.rouge{
	background-color:#c0392b;
}


img {
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

@media screen (-webkit-min-device-pixel-ratio: 2), (max-width:480px;){ 


}

@media screen (-webkit-min-device-pixel-ratio: 2), (max-width:767px;){ 


}

@media screen (-webkit-min-device-pixel-ratio: 2), (max-width:979px;){ 


}

@media screen (-webkit-min-device-pixel-ratio: 2), (max-width:1200px;){ 


}