html {
		font-size:62.5%;
}

body{
	background-image:url(bg.jpg);
	background-size:cover;
	
}	

h1 {
	color: blue;
	font-family:calibri;
	font-size: 8vw;

}

p {
	font-family:calibri;
	font-size:1.6em;
	color:white;
}

/*p.bleu{
	background-color:#2980b9;
}

p.blanc{
	background-color:#ecf0f1;
}

p.rouge{
	background-color:#c0392b;
}
*/

table
{
	color:white;
	font-size:1.6em;
    border-collapse: collapse; 
}	

table,tr{
	border:0.5px solid white;
}

td.prem{
	background-color:silver;
	border-bottom:0.5px solid black;
	border-right:0.5px solid black;
}


img {
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

@media screen and(max-width:480px;),(-webkit-min-device-pixel-ratio: 2) { 
table,tbody,tr,td
{	
	text-align:center;
	display:block;
}

body{
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
}
}

@media screen and(max-width:767px;),(-webkit-min-device-pixel-ratio: 2){ 
table,tbody,tr,td
{
	text-align:center;
	display:block;
}
body{
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
}
}

@media screen and(max-width:979px;),(-webkit-min-device-pixel-ratio: 2){ 
table,tbody,tr,td
{
	display:block;
	text-align:center;

}

body{
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
}

}

@media screen and max-width:1200px;),(-webkit-min-device-pixel-ratio: 2){ 

table,tbody,tr,td
{
	text-align:center;	
	display:block;
}
body{
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
}

}